* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.App {
  text-align: center;
}

.header {
  margin: 20px; 
  padding-top: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
	justify-content: center; 
	margin: auto;
  height: 80vh;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.column-item {
  padding: 25px;
}

.image-container {
  flex: 1 0 0;
  min-width: 300px;
  max-height: 80vh;
}

.image {
  width: 100%;
  height: 100%;
}

.text-container {
  flex: 2 0 0;
  padding: 50px 10px;
  background-color: rgba(255, 217, 0, 0.728);
  display: flex;
}

.text {
  font-size: 20px;
  font-weight: 400;
}

.secondary-text {
  text-align: center;
}

.button {
  color: white;
  background-color: #034ab4;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
}

.container {
  padding-top: 20px;
  display: flex;
  text-align: center;
}

.home-text {
  font-size: 40px;
  font-weight: 500;
  color: white; 
}

.job-card {
  padding: 40px; 
  width: 80%;
  margin: 30px auto; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 8px;
  line-height: 120%;
  text-align: justify;
}

.job-card:hover {
  box-shadow: 0 8px 16px 0 rgba(57, 57, 87, 0.2);
}

.job-card p {
  margin: 10px; 
  padding-bottom: 10px;
}

.job-card h3 {
  padding-bottom: 10px;
  color: navy;
  text-align: center;
}

.location {
  color: blue; 
}

.primary-text {
  font-size: 17px;
}

.skills {
  color: navy; 
  font-weight: 400; 
  padding-top: 10px;
  display: inline-block; 
}

.skills-section {
  line-height: 50%; 
}

.extra-details {
  text-align: right;
  font-size: 12px;
}